

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    /* underline */
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

li {
    color: white;
}

li a {
    color: white;
    cursor: pointer;
}

li a:hover {
    color:orange;
}

.nav_container{
    width: 88%;
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.logo{
    display: block;
    object-fit: cover;
    width: 50%;
    margin-top: 13px;
}

/*------------- nav bar-------------*/
nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* nav class on scroll using javascript */
.window-scrolled {
    background: black;
    border-bottom: 0.2rem solid black;
    box-shadow: 0 1rem 1rem whitesmoke;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav_toggle-btn {
    background-color:black;
    color: white;
    display: none;
}

.nav_logo {
    width: 7.5rem;
}

.navLinks {
    display: flex;
    gap: 4rem;
}

.nav_socials {
    display: flex;
    gap: 1rem;
}

.nav_socials a {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(white, white);
    border-radius: 0.5rem;
    color: black;
    display: grid;
    place-items: center;
}

.nav_socials a:hover {
    box-shadow: 0 1rem 1rem orange;
}


/*------------- HEADER -------------*/

header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient();
    overflow: hidden;
}

.headerContainer {
    display: grid;
    grid-template-columns: 42% 52%;
    grid: 6%;
    margin-top: 10rem;
    position: relative;
}

.header_img-bg {
    background: white;
    height: 12rem;
    width: 16rem;
    position: absolute;
}

.header_img-lg {
    width: 25rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: all 400ms ease;
}

.header_img-sm {
    width: 21rem;
    height: 26rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: all 400ms ease;
}

.header_left:hover .header_img-sm {
    opacity: 0;
}

.header_left:hover .header_img-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid white;
    top: 0;
    left: 0;
}

.header_head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.empty {
    height: 2.5rem;
    width: 14rem;
    background:whitesmoke;
    border-radius: calc(3.5rem /2);
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}

.header_tag {
    color: white;
}


h1 {
    color: white;
}


.header_right p {
    color: white;
    margin-top: 2rem;
    width: 85%;
}

.header_btn-md {
    display: none;
}

.header_frames {
    position: absolute;
    top: 80vh;
    right: 44rem;
    transition: all 400ms ease;
}

.header_frame {
    width: 11rem;
    border: 0.2rem solid white;
    box-shadow: 0 0 1rem whitesmoke;
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: all 400ms ease;
}

.header_frame:nth-child(2) {
    transform: rotate(20deg);
    top: -3rem;
    left: 1rem;
}

.header_frames:hover .header_frame {
    transform: rotate(0);
}
.header_frames:hover .header_frame:nth-child(2) {
    top: 0;
    left: 15rem;
}

.contact_btn {
    color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.header_btn {
    background: linear-gradient(-30deg,white, black, white);
    position: absolute;
    right: 6%;
    bottom: -3rem;
}

.header_btn:hover {
    box-shadow: 0 1rem 1rem white;
    transform: translateY(-1rem);
    color: white;
}

.contact_btn i {
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.contact_btn p span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}