

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    /* underline */
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

li {
    color: white;
}

li a {
    color: white;
    cursor: pointer;
}

li a:hover {
    color:orange;
}

.nav_container{
    width: 88%;
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.logo{
    display: block;
    object-fit: cover;
    width: 50%;
    margin-top: 13px;
}

/*------------- nav bar-------------*/
nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* nav class on scroll using javascript */
.window-scrolled {
    background: black;
    border-bottom: 0.2rem solid black;
    box-shadow: 0 1rem 1rem whitesmoke;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav_toggle-btn {
    background-color:black;
    color: white;
    display: none;
}

.nav_logo {
    width: 7.5rem;
}

.navLinks {
    display: flex;
    gap: 4rem;
}

.nav_socials {
    display: flex;
    gap: 1rem;
}

.nav_socials a {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(white, white);
    border-radius: 0.5rem;
    color: black;
    display: grid;
    place-items: center;
}

.nav_socials a:hover {
    box-shadow: 0 1rem 1rem orange;
}

.line {
    color: whitesmoke;
    margin-top: 40px;
}
/*------------- HEADER -------------*/

header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient();
    overflow: hidden;
}

.headerContainer {
    display: grid;
    grid-template-columns: 42% 52%;
    grid: 6%;
    margin-top: 10rem;
    position: relative;
}

.header_img-bg {
    background: white;
    height: 12rem;
    width: 16rem;
    position: absolute;
}

.header_img-lg {
    width: 25rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: all 400ms ease;
}

.header_img-sm {
    width: 21rem;
    height: 26rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: all 400ms ease;
}

.header_left:hover .header_img-sm {
    opacity: 0;
}

.header_left:hover .header_img-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid white;
    top: 0;
    left: 0;
}

.header_head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.empty {
    height: 2.5rem;
    width: 14rem;
    background:whitesmoke;
    border-radius: calc(3.5rem /2);
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}

.header_tag {
    color: white;
}


h1 {
    color: white;
}
h2 {
    color: white;
}


.header_right p {
    color: white;
    margin-top: 2rem;
    width: 85%;
}

.header_btn-md {
    display: none;
}

.header_frames {
    position: absolute;
    top: 60vh;
    right: 50rem;
    transition: all 400ms ease;
}

.header_frame {
    width: 11rem;
    border: 0.2rem solid white;
    box-shadow: 0 0 1rem whitesmoke;
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: all 400ms ease;
}

.header_frame:nth-child(2) {
    transform: rotate(20deg);
    top: -3rem;
    left: 1rem;
}

.header_frames:hover .header_frame {
    transform: rotate(0);
}
.header_frames:hover .header_frame:nth-child(2) {
    top: 0;
    left: 15rem;
}

.contact_btn {
    color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.header_btn {
    background: linear-gradient(-30deg,white, black, white);
    position: absolute;
    right: 6%;
    bottom: 13rem;
}

.header_btn:hover {
    box-shadow: 0 1rem 1rem white;
    transform: translateY(-1rem);
    color: white;
}

.contact_btn i {
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.contact_btn p span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}


#about{
    margin-top: 5rem;
}

.about_container{
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
}

.about_title {
    position: absolute;
    top: -4rem;
    right: 72rem;
    z-index: 1;
}

.about_btn {
    color: white;
    align-self: end;
}

.about_btn:hover {
    transform: translateY(-1rem);
}

.about_img{
    position: relative;
}

.about_img-bg {
    width: 16rem;
    height: 24rem;
    position: absolute;
    bottom: 0;
    background: white;
}

.about_img-lg {
    position: relative;
    left: 1rem;
    bottom: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about_img-sm {
    position: absolute;
    top: 1rem;
    left: 8rem;
    height: 27rem;
    width: 22rem;
    overflow: hidden;
    box-shadow: 2rem 2rem 2rem  rgba(0, 0, 0, 0.3);
    transition: 500ms ease;
}

.about_right p {
    color: white;
    margin-left: 1rem;
}

.about_img:hover .about_img-sm {
    opacity: 0;
}

.about_img:hover .about_img-lg {
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    border: 1rem solid white;
    left: 0;
    bottom: 0;
}

.about_right {
    margin-left: 5rem;
}

/*------------- GALLERY -------------*/
#gallery {
    margin-top: 8rem;
}

.gallery_head {
    display: flex;
    justify-content: space-between;
}

.gallery_container p {
    color: white;
    width: 45rem;
}

.swiper-wrapper {
    margin-top: 5rem;
    height: 37rem;
    padding-bottom: 5rem;
}

.swiper-slide {
    border: 0.5rem solid white;
    height: fit-content;
    max-height: 36rem;
    overflow: hidden;
    transition: all 400ms ease;
}

.swiper-slide:hover {
    box-shadow: 0 1rem 1rem whitesmoke;
}

.swiper-slide img {
    filter: saturate(0);
    transition: all 400ms ease;
}

.swiper-slide:hover img {
    filter: saturate(1);
}

.swiper-pagination-bullet {
    background: white;
}

/*------------- EXHIBITIONS -------------*/

#exhibitions{
    margin-top: 10rem;
}

.exhibitions_container {
    position: relative;
}

.exhibitons_empty {
    width: 26rem;
    position: absolute;
    right: 14rem;
    top: 0;
}

.exhibitions_head {
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
}

.exhibitions_head > p {
    width: 45rem;
    color: white;
}

.exhibitions_btn {
    color: white;
}

.exhibitions_btn:hover {
    transform: translateY(-1rem);
}

.exhibitions_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    gap: 3rem;
}

.exhibitions_gallery article {
    border: 0.5rem solid white;
    transition: all 400ms ease;
}

.exhibitions_gallery article:nth-child(1) {
    grid-row: 1/3;
} 

.exhibitions_gallery article:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.exhibitions_gallery article img {
    height: 100%;
    filter: saturate(0);
    transition: all 400ms ease;
}

.exhibitions_gallery article:hover img {
    filter: saturate(1);
}

.exhibitions_gallery article:hover {
    box-shadow: 0 1rem 3rem whitesmoke;
}

.footer_container{
    border-top: 0.1rem solid white;
    margin-top: 5rem;
}

.footer_head {
    display: flex;
    align-items: center;
    gap: 33rem
}

.footer_logo img {
    width: 5rem;
    height: 4rem;
}

.footer_creater {
    font-size: 1rem;
}

.mySite{
    color: white;
}

/* MEDIA Queries medium screens */

@media screen and (max-width:1024px) {

    .nav_container {
        width: 60%;
        position: relative;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.3;
    }

    h2 {
        font-size: 2.5rem;
    }

    .nav_socials {
        display: none;
    }

    .navLinks {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        color: yellow;
    }


    .navLinks li {
        height: 5rem;
        box-shadow: -3rem 3rem 3rem yellow;
    }

    .navLinks li a {
        color: blueviolet;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
        border-top: 1px solid blue;
    }

    .nav_toggle-btn {
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        cursor: pointer;
        color: white;
    }

    #nav_toggle-close {
        display: none;
    }
}